@import "Root.css";

.Container {
    min-height: 100vh;
    position: relative;
    background-image: url("./../images/palettesbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    position: sticky;
    background-color: var(--color-light-transperant);
    color: var(--color-light-contrast);
    backdrop-filter: blur(50px);
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 5px;
}

.DisplayBox {
    background-color: var(--color-light-transperant);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 640px;
    border-radius: 60px 400px 50px 50px;
    text-align: center;
    backdrop-filter: blur(12px);
}

.NavigateButtons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 100px;
    margin: 30px;
    padding: 10px;
}

.Button {
    background-color: var(--accent-color);
    color: var(--text-color-light);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 900;
    width: 350px;
    height: 50px;
    margin: 12px;
    border-radius: 10px;
    transform: skewX(-12deg);
    box-shadow: var(--shadow-1);
}


.PaletteImage {
    position: relative;
    bottom: 50px;
    left: 8px;
    z-index: 5;
}

.PaletteImage img {
    width: 350px;
    filter: var(--filter-1);
}

.PaletteImage img:hover {
    transition: 0.35s ease-in-out;
    transform: translate(0, -20px) scale(1.1);
    filter: var(--filter-1);
}

.Button:hover {
    transition: 0.2s ease-in-out;
    transform: skewx(-14deg) scale(1.06);
    margin-bottom: 12px;
    --accent-saturation: 70%;
    --accent-lightness: 80%;
    color: var(--color-light-contrast);
}