@import "Root.css";

.PageContainer {
    display: flex;
}

.SubContainer {
    flex: 3;
    background-color: var(--color-light-bright);
}

.UploadImageView {
    position: relative;
    margin: 50px 200px;
    border-radius: 30px;
    border: 2px dashed var(--color-light-contrast);
    padding: 20px;
}

.UploadImageView input {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.UploadImageIconView img {
    width: 400px;
}

.UploadImageView:hover {
    background-color: var(--accent-color);
}

.ColorPalette {
    display: flex;
    margin: 0 400px;
    transition: 0.25s;
    border-radius: 20px;
    overflow: hidden;
}

.ColorDiv {
    flex-grow: 1;
    flex-basis: 1px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.ColorDiv:hover {
    transition: 0.45s;
    flex-basis: 80px;
}

.ColorDiv span {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    transition: all 0.1s ease-in-out 0s;
    opacity: 0;
    color: var(--color-light);
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

.ColorDiv:hover span {
    opacity: 1;
}

.ImageView {
    width: 450px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

.ImageView img {
    border-radius: 30px;
    width: 450px;
}

.UploadButton {
    position: relative;
    --test: hsl(124, 18%, 31%);
    background-color: hsl(124, 70%, 75%);
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 50px auto;
    border-radius: 10px;
}

.UploadButton input {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.UploadButton:hover {
    background-color: hsl(124, 50%, 60%);
}

/************ Right SideBar *******************/

@keyframes animate-color {
    from {width: 12%;}
    to {width: 100%;}
}

.RightSidebar {
    flex: 1;
    height: calc(100vh - 120px);
    background-color: var(--color-light);
    padding: 30px;
}

.ColorBox {
    height: 60px;
    border-radius: 30px;
    animation: animate-color 2s infinite ease;
}


.ColorCodeField {
    padding: 10px;
    margin: 30px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: left;
    border: 2px solid var(--color-light-light-contrast);
    border-radius: 8px;
    background-color: var(--color-light-bright);
}