* {
    --front-color-1: #212529;
    --front-color-2: #343a40;
    --front-color-3: #495057;
    --front-color-4: #6c757d;

    --background-color-1: #f8f9fa;
    --background-color-2: #e9ecef;
    --background-color-3: #dee2e6;
    --background-color-4: #ced4da;

    --mid-color: #adb5bd;

}

.PaletteFromImageContainer {
    background-color: var(--background-color-1);
}

.SubContainer {
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.UploadImageView {
    width: 600px;
    height: 450px;
    margin: 0 auto;
    border: dashed 2px var(--mid-color);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.UploadImageView img {
    width: 400px;
    height: fit-content;
}

.ErrorMessage {
    align-items: center;
    justify-content: center;
}


.ColorText {
    font-size: 16px;
    margin-top: 10px;
}

.ImageView {
    position: relative;
    top: 50px;
}
  
.ImageView img {
    border-radius: 20px;
}

.InputFile {
    width: 180px;
}

.UploadButton {
    margin: 30px;
}

.Image {
    width: 25rem;
}

.ColorPalette {
    position: relative;
    display: flex;
    width: 500px;
    height: 110px;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.ColorDiv {
    flex-grow: 1;
    height: 100%;
}

.ColorDiv:hover {
    flex-grow: 2;
    transition: 0.4s;
}

/************** right-side-bar style ****************/

.RightSidebar {
    position: absolute;
    background-color: var(--background-color-2);
    width: 25%;
    top: 0;
    right: 0;
    height: 100vh;
}

.RightSidebar .ColorBox {
    margin: 30px;
    width: 150px;
    height: 150px;
    border: 2px solid var(--mid-color);
    border-radius: 20px;
}

.ColorInfo {
    position: relative;
    text-align: left;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.RGBColorField {
    background-color: var(--background-color-1);
    padding: 10px;
    border: 2px solid var(--mid-color);
    border-radius: 10px;
}

.hexColorField {
    background-color: var(--background-color-1);
    padding: 10px;
    border: 2px solid var(--mid-color);
    border-radius: 10px;
}