
@keyframes animate-color {
    from {width: 12%;}
    to {width: 100%;}
}

.RightSidebar {
    flex: 1;
    height: calc(100vh - 108px);
    background-color: var(--color-light);
    padding: 30px;
}

.ColorBox {
    height: 60px;
    border-radius: 30px;
    animation: animate-color 2s infinite ease;
}


.ColorCodeField {
    margin: 30px auto;
    padding: 0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: left;
    border: 2px solid var(--color-light-light-contrast);
    border-radius: 8px;
    background-color: var(--color-light-bright);
    position: relative;
}

.ColorLabel {
    padding: 10px;
}

.CopyButton {
    margin: 0;
    padding: 7px;
    right: 0;
    border: none;
    position: absolute;
    background: none;
    border-left: 1px solid var(--color-light-light-contrast);
}

.CopyButton img {
    width: 25px;
}

.CopyButton:active {
    background: var(--color-light-light-contrast);
}

.CopyButton::before {
    content: "Copied";
    position: absolute;
    top: -32px;
    right: -10px;
    background: var(--color-light-light-contrast);
    color: var(--color-light);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    display: none;
}

.CopyButton::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 16px;
    width: 8px;
    height: 8px;
    background: var(--color-light-light-contrast);
    transform: rotate(45deg);
    display: none;
}

.ColorCodeField:active .CopyButton::before,
.ColorCodeField:active .CopyButton::after {
    display: block;
}