* { 
    --border-radius-1: 50px;
    --border-radius-2: 30px;
    --border-radius-3: 20px;
    --border-radius-4: 10px;

}

@import "Root.css";

:root {
    background-color: var(--color-light);
}

.ColorsDivContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
}

.ColorsDivSubContainers {
    position: relative;
    margin: 20px;
    padding: 15px;
    background-color: var(--color-light-bright);
    border-radius: var(--border-radius-3);
    box-shadow: 4px 4px 4px var(--text-color-light);
    overflow: hidden;
}

.ColorsDiv {
    display: flex;
    overflow: hidden;
    border-radius: var(--border-radius-3);
}

.ColorDiv {
    flex-grow: 1;
    flex-basis: 1px;
    height: 170px;
    overflow: hidden;
    position: relative;
}

.ColorDiv:hover {
    flex-basis: 120px;
}

.ColorsDiv div span {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    transition: all 0.1s ease-in-out 0s;
    opacity: 0;
    color: var(--color-light);
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

.ColorsDiv div:hover span {
    opacity: 1;
}
.ColorsInfoDiv {
    text-align: left;
    margin: 20px;
    color: var(--text-color-light);
}

/*********** tags ***********/

.ColorTagsDiv {
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.ColorTagsDiv div {
    margin-right: 10px;
    padding: 5px;
}

.tagDiv {
    background-color: hsl(214, 100%, 88%);
    border-radius: 6px;
    text-align: center;
}

.More {
    position: absolute;
    padding: 0;
    right: 0;
    bottom: 0;
}

.More button {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: var(--color-light-bright);
}

ul {
    position: relative;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

li {
    line-height: 0.5;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}